footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    border-top: 7px solid #262626;

}

footer p {
    margin : 20px, 0, 20px, 0;
}