.btn_container {
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center;
}

.btn_container .btn {
    font-size: 20px;
    padding: 20px 30px;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 0 30px;
    display: block;
    border: 0;
}

.btn_container .btn:hover {
    background-color: #cc0000;
}

.content {
    width: auto;
    height: 100vh;
    position: relative;

}

.content .inner {
    position: relative;
    top: 40%;
    text-align: center;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("/cssimg/backimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color:white;
}

.content p {
    font-size: 24px;
    margin-bottom: 40px;
    color:white;
}

