<!doctype html>
<html lang="en">
<head>
    <title style="display: none;">GAMEFLIX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/all.css">
</head>
<body>
{{>layout/header}}

<div>
    <h1><a href="{{loginType}}">[[{{pageName}}]]</a></h1> <hr/>
    <h2>관리자 페이지</h2>
    <h3>인가에 성공하였습니다!</h3>
</div>

{{>layout/footer}}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>