<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/all.css">
</head>

{{>layout/header}}


<div class="content">
    <div class="inner">
        <h1>게임 추천의 새로운 경험</h1>
        <p>유저의 취향을 탐색하고, 게임을 추천합니다!!</p>
        <div class="btn_container">
            <span><button type="button" class="btn" onclick="location.href='/recommend'">게임 찾기</button></span>
            <span><button type="button" class="btn" onclick="location.href='/gameflix'">추천 받기</button></span>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/index.js"></script>
{{>layout/footer}}
</script>
</body>
</html>