<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>스팀게임추천서비스</title>
</head>
<body>

{{>layout/header}}
<div class="game_container">
    <div>
        <button type="button" name="toBasket">게임 장바구니에 담기</button>
    </div>
    <div class="img">
        <img src="/img/{{name}}.jpg">
    </div>
    <div class="name">
        <span id="gamename">{{name}}</span>
    </div>
    <div class="description">
        {{description}}
    </div>
    <div class="genres">
        <ul>
            {{#genres}}
                <li>{{.}}</li>
            {{/genres}}
        </ul>
    </div>
    <div class="genres">
        <ul>
            {{#tags}}
                <li>{{.}}</li>
            {{/tags}}
        </ul>
    </div>
    <div class="spec">
        <table>
            <thead>
                <th>최소사양</th>
                <th>권장사양</th>
            </thead>
            <tbody>
                <td>{{specMin}}</td>
                <td>{{specRec}}</td>
            </tbody>
        </table>
    </div>
    <div class="link">
        <a href="{{steamLink}}">스팀 링크</a>
    </div>
    <div class="eval">
        {{eval}}
    </div>

</div>
{{>layout/footer}}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/toBasket.js"></script>
</html>