<!doctype html>
<html lang="en">
<head>
    <title style="display: none;">GAMEFLIX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/showgame.css">
    <link rel="stylesheet" href="css/all.css">
</head>
<body>
<div class="showGame_container">

    <button type="button" name="toBasket" class="toBasket">게임 장바구니에 담기</button>

    <div class="name">
        <span id="gamename">{{name}}</span>
    </div>

    <div class="imgTags">
        <div class="img">
            <img src="/img/{{name}}.jpg">
        </div>
        <div class="genres-and-tags">
            <div class="genres">
                <h3>장르</h3>
                <ul>
                    {{#genres}}
                        <li>{{.}}</li>
                    {{/genres}}
                </ul>
            </div>
            <div class="tags">
                <h3>태그</h3>
                <ul>
                    {{#tags}}
                        <li>{{.}}</li>
                    {{/tags}}
                </ul>
            </div>
            <div class="linkEval">
                <div class="link">
                    <a href="{{steamLink}}" class="steamLink" target="_blank">스팀 링크</a>
                </div>
                <div class="eval">
                    <span>평가 : {{eval}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <h3>게임설명</h3>
        <span>{{description}}</span>
    </div>

    <div class="spec">
        <div class="min">
            <h3>최소사양</h3>
            <span class="specText" id="minText">{{specMin}}</span>
        </div>
        <div class="rec">
            <h3>권장사양</h3>
            <span class="specText" id="recText">{{specRec}}</span>
        </div>
    </div>



</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/toBasket.js"></script>
</body>
</html>