<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">

    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/all.css">
</head>

{{>layout/header}}

<div class="content">
    <div class="signForm">
        <form action="/signin" method="post">
            <h2>로그인</h2>
            <div class="form_group">
                <input type="text" name="userId" class="info_input" placeholder="아이디 입력"/><br>
                {{#noId}}<span class="valid">{{noId}}</span>{{/noId}}
            </div>
            <div class="form_group">
                <input type="password" name="password" class="info_input" placeholder="비밀번호 입력"/><br>
                {{#noPassword}}<span class="valid">{{noPassword}}</span>{{/noPassword}}
            </div>
            <button type="submit" class="submit">로그인</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/index.js"></script>
{{>layout/footer}}
</script>
</body>
</html>