<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">

    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/all.css">
</head>

{{>layout/header}}

<div class="content">
    <div class="signForm">
        <form action="/signup" method="post">
            <h2>회원가입</h2>
            <div class="form_group">
                <input type="text" name="userId" class="info_input" placeholder="아이디 입력"/>
                {{#valid_userId}}<span class="valid">{{valid_userId}}</span>{{/valid_userId}}
            </div>
            <div class="form_group">
                <input type="password" name="password" class="info_input" placeholder="비밀번호 입력"/>
            </div>
            <div class="form_group">
                <input type="password" name="passwordCheck" class="info_input" placeholder="비밀번호 재입력"/>
                {{#valid_passwordCheck}}<span class="valid">{{valid_passwordCheck}}</span>{{/valid_passwordCheck}}
            </div>
            <div class="form_group">
                <input type="text" name="nickname" class="info_input" placeholder="닉네임 입력"/>
                {{#valid_nickname}}<span class="valid">{{valid_nickname}}</span>{{/valid_nickname}}
            </div>
            <button type="submit" class="submit">회원가입</button>
        </form>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/index.js"></script>
{{>layout/footer}}
</script>
</body>
</html>