<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">

    <link rel="stylesheet" href="css/userinfo.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/all.css">
</head>
{{>layout/header}}
<div class="content">
    <div class="userForm">
        <div class="userInfo">
            <div>
                <div class="info_inner">
                    <h3>아이디</h3>
                    <input type="text" placeholder={{userId}} class="info_input" readonly/>
                </div>
                <div class="info_inner">
                    <h3>닉네임</h3>
                    <input type="text" placeholder={{nickname}} class="info_input" readonly/>
                </div>
            </div>
        </div>

        <div class="updateInfo">
            <form action="/updateInfo" method="post">
                <div class="info_inner">
                    <h3>닉네임 변경</h3>
                    <input type="text" name="changedNickname" placeholder="변경할 닉네임" class="info_input"/>
                    {{#valid_nickname}}<span class="valid">{{valid_nickname}}</span>{{/valid_nickname}}
                </div>
                <div class="info_inner">
                    <h3>비밀번호 변경</h3>
                    <input type="password" name="changedPassword" placeholder="변경할 비밀번호" class="info_input"/>
                </div>
                <button type="submit" class="submit">정보 수정</button>
            </form>
        </div>

        <div class="deleteInfo">
            <div class="info_inner">
                <form action="/deleteInfo" method="post">
                    <h3>회원 삭제</h3>
                    <input type="password" name="checkPassword" placeholder="삭제하시려면 비밀번호를 입력해주세요" class="info_input"/>
                    {{#notEqual}}<span class="valid">{{notEqual}}</span>{{/notEqual}}
                    <button type="submit" class="submit">회원 탈퇴</button>
                </form>
            </div>
        </div>
    </div>
</div>


{{>layout/footer}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/x-mustache" src=/js/popup.js"></script>
</body>
</html>